/* Apply global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Apply background gradient for the entire app */
body {
  background: linear-gradient(135deg, #ffffff, #c4e0ff);  /* Dark background gradient */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Main app container styles */
.App {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* App logo styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the logo when the motion preference allows */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* App header styling with dark background */
.App-header {
  background-color: #ffffff; /* Dark color for header */
  min-height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

/* Link styles */
.App-link {
  color: #61dafb;
  text-decoration: none;
}
/* App.css or index.css */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 